body{
    width: 100%;
    font-family: 'source sans pro', sans-serif;
    background: url(imgs/bg_mobile.jpg) no-repeat 0% -25%;
    background-position: 30% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    }
    
header {
    width: 100%;
    height: 0em; /*3.5em*/
    background-color: #f88;
    color: #eee;
    margin: 0;
    position: fixed;

    transition: height 1s;
    }
    #logo{
        margin:.75em;
        width: 30%;
        max-width: 110px;
        float: left;
        border: 0;
        
        transition: opacity .3s;
        }
        #logo:hover{
            opacity: .9;
        }
    .nav{
        width: 3.5em;
        height: 3.5em;
        background: url(imgs/menu-w.png) no-repeat;
        background-size: 75%;
        background-position: 50%;
        background-color: transparent;
        float: right;
        margin: 0 .5em;

        transition: background .3s, opacity .3s;
        }
        .nav:active{
            background: url(imgs/menu-r.png) no-repeat;
            background-size: 75%;
            background-position: 50%;
            background-color: #fff;
            opacity: .9;
            }
        .active{
            background: url(imgs/menu-w.png) no-repeat;
            background-size: 75%;
            background-position: 50%;
            background-color: #f88;

            transition: background .3s, opacity .3s;
            }
            nav {
                background-color: #fff;
                display: none;
                right: .5em;
                top: 3.5em;
                position: absolute;
                z-index: 999;
                color: #666;
                }
                nav ul {
                    margin: 0 auto;
                    padding: 0;
                    }
                    nav li {list-style: none;}
                    nav a {
                        display: inline-block;
                        width: 8em;
                        text-align: right;
                        text-decoration: none;
                        line-height: 30px;
                        padding: 0 .75em;

                        transition: background .3s; 
                    }
                    nav a:hover {background: #eee;}
#top{height: 3.5em}
#home{
    width: 100%;
    padding: .5em .9em 2em .9em;
    }
    h1.sobre{
        margin: 2em 0 0 0;
        color: #fff;
        font-weight: 600;
        font-size: 2.5em;
        text-align: center;
        line-height: 1.25em;
    }
    h2.sobre{
        color: #fff;
        font-size: 1.5em;
        margin: .25em 0 0 0;
        font-weight: 400;
        text-align: center;
    }
    h2.sobre:nth-child(3){margin: .25em 0 3em 0;font-style: italic;}
    .form-busca{
        margin: 0 auto;
        width: 90%;
        max-width: 350px;
        border-radius: .25em;
        border: 1px solid #fff;
        border-bottom: 0;
        background: rgba(255, 255, 255, 1);
        text-align: center;
        }
        .form-title{
            font-size: 2em;
            color: #f88;
            text-transform: uppercase;
            word-spacing: 5px;
            letter-spacing: -1px;
            font-weight: 600;
        }
        form select{
            width: 90%;
            margin: 0 0 .5em 0;
            color: #666;
        }
        .busca-button{
            width: 75%;
            border: 0;
            border-radius: .25em;
            padding: .5em;
            background: #f88;
            font-size: 1.5em;
            color: #fff;
            margin: 1em 0;
        }
#sobre{background: #fff;}
#cadastro{background: #0cf; text-align: center; padding: 3em 0}
    .cadastro-mobile, .cadastro-pc{width: 100%;}
        .cadastro-title{
            font-size: 1.5em;
            text-align: center;
            color: #fff;
            font-weight: 400;
        }
        .cadastro-text{
            font-size: 1em;
            color: #fff;
            padding: 0;
            margin: 0 10% 15% 10%;
            width: 80%;
        }
        .cadastro-button{
            color: #f88 !important;
            background: #fff;
            font-size: 1.5em;
            margin: 5em 0;
            padding: 1em;
            border-radius: 3px;

            /*transition: background .3s, color .3s;*/
            }
            .cadastro-button:hover{
                color: #fff !important;
                background: #f88;
            }
#contato{background: #f88; padding: 3em 0 8em 0}
    .contato-title{
        color: #fff;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }
    #contato form{
        width: 90%;
        max-width: 690px;
        margin: 0 auto;
        }
        #contato input,
        #contato textarea{
            width: 100%;
            border-radius: 3px;
            border: 0;
            padding: .25em;
            margin: .25em 0;
        }
        #contato textarea{height: 5em;}

        input[type="reset"],input[type="submit"]{width: 49% !important; margin: .25em 0; padding: 1em !important}
        input[type="reset"]{
            float: left;
            border: 2px solid #fff !important;
            background: transparent;
            color: #fff;
        }
        input[type="submit"]{
            float: right;
            border: 2px solid #fff !important;
            background: #0cf;
            color: #fff;
        }
footer {
    width: 100%;
    background-color: #333;
    padding: 0;
    position: relative;
    float: left;
    bottom: 0;
    color: #fff;
    }
    footer a, footer p{
        float: left;
        margin: .8em 0 0 1em;
        font-weight: 200;
        }            
    .cont{
        float: left;
        width: 37%;
        margin: 0px 0px 0px 10%;
        }
        .cont:first-child{
            float: right;
            width: 14.2em;
            margin: 0 10% 0 0;
        }
        .cont p:first-child{
            letter-spacing: .5em;
            font-weight: 500;
            margin: 0;
            line-height: 5em;
        }
        .cont:nth-child(2) p:nth-child(2){margin: 1.2em 0 0 1em; width: 50%; text-align: left}
        .cont:nth-child(2) p:nth-child(3){margin: 0 0 0 1em; width: 50%; text-align: left}
        .cont img {
            width: 3em;
            border-radius: 1em;
            margin: .2em 0 0 0;

            transition: border-radius .5s;
            }
            .cont img:hover {border-radius: 3em;}
    .foot {
        width: 100%;
        float: left;
        background-color: #444;
        color: #999;
        font-weight: 200;
        padding: 1em 0 0.7em 0;
        text-align: center;
     }
a:link, a:visited, a:active, a:hover {
    color: inherit;
    text-decoration: none;
    }

@media screen and (max-width: 1000px) { /*  T A B L E T   E   C E L U L A R  */
    nav ul li:nth-child(2), #sobre, .cadastro-pc{display: none;}
    .cadastro-mobile{display: block;}
    }
@media screen and (min-width: 1000px) { /*  C O M P U T A D O R  */
    nav ul li:nth-child(2), #sobre, .cadastro-pc{display: block;}
    .cadastro-mobile{display: none;}
    }